body {
    font-family: Arial, sans-serif;
    font-size: 1.15em;
    color:midnightblue;
    text-align: center;
}

span { 
    display: block;
}

#language-panel, #intro {
    margin-bottom: 30px;
}

.functional {
    text-align: center;
    margin: auto;
    display: block;
    background-color: #3475b9;
    padding: 50px 30px 50px 30px;
    width: 80%;
}

form {
    line-height: 2em;
}

label {
    display: block;
    align-self: center;
}

input {
    display: block;
    margin: auto;
    width: 70%;
}

button {
    width: 120px;
    height: 2em;
    margin: 10px;
}

#result {
    border-style: 1px 1px 1px 1px red solid;
    /* box-sizing: border-box; */
    background-color: #d72147;
    padding: 30px;
    width: 80%;
    margin: auto;
    text-align: left;
}

#credits {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
