body {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    color:midnightblue;
    text-align: center;
}

div {

}

#language-panel {
    width: 80%;
    align-content: center;
}

.functional {
    text-align: center;
    margin: auto 0;
    display: block;
    background-color: brown;
    padding: 50px 10px 10px 10px;
}

form {
    line-height: 2em;
}

label {
    display: block;
    align-self: center;
}

input {
    display: block;
    margin: auto;
    width: 70%;
}

button {
    width: 120px;
    height: 2em;
    margin: 10px;
}

#result {
    border-style: 1px 1px 1px 1px red solid;
    /* box-sizing: border-box; */
    background-color: violet;
    padding: 10px 10px 10px 10px;
    width: 70%;
    margin: auto;
}

#credits {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
